@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        display: block;
    }
}

@layer components {
    .bg-section {
        background-image:
            linear-gradient(180deg,
                rgb(0, 0, 0, 0.6) 0,
                #121212 30%,
                #121212 100%);
    }

    .scroll::-webkit-scrollbar {
        width: 5px;
        background-color: rgba(50, 50, 50, 0.442);
        border-radius: 7px;
    }

    .scroll::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.228);
        border-radius: 7px;
    }

    .drag {
        -webkit-app-region: drag;
    }

    .acepted {
        background-color: #20A714;
    }

    .denied {
        background-color: #B72626;
    }

    .rotate {
        transform: rotate(180deg);
    }

    .noRotate {
        transform: rotate(0);
    }

}

